<%
    var sourcePage =  theme.webpage_source + "/tree/master/source/" + page.source
 %>

<div class="edit-this-page" >
    <a href="<%=sourcePage%>"><i class="icon icon-edit"></i> Edit this page</a>
</div>

