<%
    var githubPageUrl = "https://github.com/microservices-today/microservices-today.github.io/tree/website-source/source/";
    var sourcePage =  githubPageUrl + page.source
 %>
<div class="edit-this-page" >
    <a href="<%=sourcePage%>"><i class="icon icon-edit"></i> Edit this page</a>
</div>

